
/* Body */
h1 {
    font-size: 44px;
    text-align: center;
    margin: 0 0 22px;
    padding-bottom: 16px;
    font-weight: 300;
}

/*.subtitle {
    font-family: Lato, serif;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 60px;
}*/


/* Nav */
/*.main-navigation .navbar-default .navbar-nav > li > a {
    background-color: rgba(254, 255, 255, 0.16);
    color: #FFFFFF;
    text-transform: uppercase;
}*/




/* Features section */
.grey-background {
  background-color: #e9f0f2;
}

.text-right {
  float: right;
}


.left {
  text-align: right;
 }
